<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendors/autoload.php">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".ctp">app/Plugin/Tinydb</directory>
            <directory suffix=".php">app/Plugin/Tinydb</directory>
            <exclude>
                <directory suffix=".php">app/Plugin/Tinydb/Config/Migration</directory>
                <directory suffix=".php">app/Plugin/Tinydb/Config/Schema</directory>
                <directory suffix=".php">app/Plugin/Tinydb/Test/Case</directory>
                <directory suffix=".php">app/Plugin/Tinydb/Test/Fixture</directory>
             </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
